* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(./img/jumbo.png);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    width: 20%;
}

.link {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.login {
    width: 10%;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

button {
    border: none;
    background-color: white;
}

.contain {
    color: white;
    display: flex;
    align-self: center;
}

/* .head_main {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.head {
    width: 60%;
    height: 180px;
    background-color: violet;
    border: 2px dashed black;
} */

.content_main {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.content_1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.content_2 {
    width: 50%;
    height: 100%;
    padding: 30px 30px 30px 0;
}

.paragraph {
    padding: 10px 0;
}

.queue_main {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.queue {
    width: 70%;
    height: 380px;
    text-align: center;
}

.head_queue {
    width: 90%;
    height: 20%;
}

.centre_queue {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.footer_queue {
    width: 50%;
    height: 20%;
}

.stars {
    width: 100%;
}

.foot_main {
    width: 100%;
    height: 300px;
    background-color: rgb(55, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;   

.title_foot {
    color: blue;
}

.flag {
    width: 20px;
    padding-top: 20px;
}

.foot_2 {
    color: white;
}

.category {
    color: blue;
}

}

.foot_1 {
    width: calc(70% / 6 * 2);
    height: 280px;
    color: white;
}

.foot_2 {
    width: calc(70% / 6);
    height: 280px;
}

ul {
    list-style-type: none;
}

li {
    padding: 2px;
}


.secondary_foot {
    width: 100%;
    height: 100px;
    background-color: rgb(55, 51, 51);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.foot_color{
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.foot_logo {
    width: 100px;
    height: 50px;
}

.button {
    width: 150px;
    height: 40px;
    background-color: rgb(79, 79, 223);
    border-radius: 20px;
    color: white;
}