* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --discord-primary: #3061e1FF;
    --discord-accent: #8ea1e1FF;
    --discord-black: #23262bFF;
    --discord-white: #F6F7F7;
    --discord-light: #FEFFFE;
}

p {
    line-height: 1.5rem;
}

section {
    padding: 3.5rem;
}

section h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
   

/* region Utility */

.container {
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0, -1rem;
}

[class^="col-"]
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.d-flex {
    display: flex;
}

.align_items_center {
    align-items: center;
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-8 {
    width: calc((100% / 12) * 8);
}



/* endregion Utility */

/* Button */

.btn {
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border: none;
    color: var(--discord-light);
}

.btn_light {
    background-color: var(--discord-light);
    color: var(--discord-black);
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 14px;
}

.btn_accent {
    background-color: var(--discord-accent);
    color: var(--discord-white);
    border: none;
    padding: 10px;
    border-radius: 1rem;
    font-size: 14px;
}


.button_1 {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.button_2 {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

/* End Button */

/* Spacing */

.mb-3 {
    margin-bottom: 1.5rem;
}

.mr-3 {
    margin-right: 3rem;
}

/* End Spacing */


/* region Header */

#site_header {
    color: var(--discord-light);
    background-color: var(--discord-primary);
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
}

#site_header nav .logo,
#site_header nav .login {
    flex-grow: 1;
}

#site_header nav .logo,
#site_header nav .link {
    flex-grow: 2;
}

.link {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
}

/* End Region Header */

/* Region Main */

main {
    padding-top: 50px;
}

.jumbotron {
    background-color: var(--discord-primary);
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.jumbotron .container {
    padding: 8rem 12rem;
    color: var(--discord-white);
}

.container h2 {
    font-size: 3.5rem;
    padding: 2rem;
}

.jumbotron p {
    padding: 2rem;
}

/* .content_main {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
} */

.meet {
    background-color: #f0f0f0;
}

.wave {
    color: #f0f0f0;
    margin-bottom: -0.25rem;
}

.wave_bottom {
    transform: rotate(180deg);
    margin-top: -0.25rem;
}

/* .content_1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.content_2 {
    width: 50%;
    height: 100%;
    padding: 30px 30px 30px 0;
} */

/* .paragraph {
    padding: 10px 0;
} */

.queue_main {
    background-color: #f0f0f0;
    height: 900px;
    display: flex;
    justify-content: center;  
}

.queue {
    width: 70%;
    text-align: center;
}

.head_queue {
    width: 90%;
}

.queue_main h3 {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
}

.stars {
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
}

/* End Region Main */

/* Region Footer */

/* .foot_main {
    width: 100%;
    background-color: rgb(51, 40, 40)
    display: flex;
    justify-content: center;
    align-items: center; 
}   */

footer {
    background-color: var(--discord-black);
    color: var(--discord-white);
    padding: 3rem 0;
}

footer h5 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--discord-white);
}

.title_foot {
    color: blue;
}

.flag {
    width: 20px;
    padding-top: 20px;
}

.foot_2 {
    color: white;
}

.foot_1 {
    width: calc(70% / 6 * 2);
    color: white;
}

.foot_2 {
    width: calc(70% / 6);
    height: 280px;
}

ul {
    list-style-type: none;
}

.secondary_foot {
    width: 100%;
    background-color: rgb(55, 51, 51);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.foot_color{
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.foot_logo {
    width: 100px;
    height: 50px;
}

.button {
    width: 150px;
    height: 40px;
    background-color: rgb(79, 79, 223);
    border-radius: 20px;
    color: white;
}